<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Word Register</title>
    <style>
        .search-wrapper {
            display: flex;
            flex-direction: column;
            gap: .25rem;
        }

        input {
            font-size: 1rem;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: .25rem;
            margin-top: 1rem;
        }

        tr:hover {
            background-color: rgb(252, 85, 85);
        }

        .card {
            border: 1px solid black;
            background-color: white;
            padding: .5rem;
            display: flex;
            flex-direction: column;
        }

        .card:hover {
            background-color: rgb(94, 226, 133);
        }
    </style>
    <script>
        const baseUrl = window.location.origin;
        var tableContainer;
        var tableTemplate;

        function removeSelf(element) {
            element.parentNode.removeChild(element);
        }

        function getTextContentByCardChild(card, child) {
            console.log('text')
            console.log(card)
            console.log(child)
            return getReferenceElementChild(card, child).textContent;
        }

        function copyFirstChildFromTemplate(template) {
            return template.content.cloneNode(true).children[0];
        }

        function getReferenceElementChild(element, childSelector) {
            console.log('ref')
            console.log(element)
            console.log(childSelector)
            return element.querySelector(`[${childSelector}]`);
        }

        function generateValidNameToInput(positionOnList) {
            return `tags[${positionOnList}]`;
        }

        function onCardClick(cardClicked) {
            let id = getTextContentByCardChild(cardClicked, 'data-header');
            let value = getTextContentByCardChild(cardClicked, 'data-body');

            const tr = copyFirstChildFromTemplate(tableTemplate)

            const tdId = getReferenceElementChild(tr, 'data-row-id')
            const tdValue = getReferenceElementChild(tr, 'data-row-value')
            const tdInput = getReferenceElementChild(tr, 'data-row-input')
            const input = getReferenceElementChild(tdInput, 'input-row')

            //set visible cell text
            tdId.textContent = id
            tdValue.textContent = value

            //set
            input.value = id
            input.name = generateValidNameToInput(tableContainer.children.length)

            //render
            tableContainer.append(tr)
        }

        window.onload = function () {

            //get reference from elements

            tableTemplate = document.querySelector("[data-row-template]")
            tableContainer = document.querySelector("[table-body-container]")

            const cardContainer = document.querySelector("[data-cards-container]")
            const cardTemplate = document.querySelector("[data-cards-template]")

            const searchInput = document.querySelector("[data-search]")

            const listContainer = document.querySelector("[list-container]")
            const listTemplate = document.querySelector("[list-template]")

            //define behavior

            function clearCardContainer() {
                while (cardContainer.firstChild) {
                    cardContainer.removeChild(cardContainer.firstChild)
                }
            }

            function searchByName(name) {
                if (name) {
                    fetch(`${baseUrl}/tag/name/${name}`)
                        .then(res => res.json())
                        .then(json => {
                            clearCardContainer();
                            json.content.map(obj => {
                                const card = copyFirstChildFromTemplate(cardTemplate)
                                const header = getReferenceElementChild(card, 'data-header')
                                const body = getReferenceElementChild(card, 'data-body')
                                //set text frm fields
                                header.textContent = obj.id
                                body.textContent = obj.value

                                //render
                                cardContainer.append(card)
                            })
                        })
                } else clearCardContainer();
            }

            searchInput.addEventListener("input", e => {
                const value = e.target.value.toLowerCase()
                searchByName(value);
            })

        }

    </script>
</head>

<div layout:fragment="content">
    <div>
        <h1 class="h3 text-center">Word Register</h1>

        <div class="alert alert-primary" th:if="${message}" th:text="${message}"></div>

        <form method="POST" th:object="${model}" th:action="@{/word/new/}">
            <fieldset>
                <input type="hidden" th:field="*{id}">

                <div class="form-group mb-3">
                    <label for="name">Name:</label>
                    <input class="form-control" type="text" th:field="*{value}" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="${value}"></div>
                </div>

                <div class="search-wrapper">
                    <label for="search">Add Tags:</label>
                    <input type="search" id="search" data-search>
                </div>
                <div class="cards" data-cards-container></div>

                <template data-cards-template>
                    <div class="card" onclick="onCardClick(this)">
                        <div class="header text-center" data-header></div>
                        <div class="body text-center" data-body></div>
                    </div>
                </template>

                <!--                <div th:each="tag : ${tagList}">-->
                <!--                    <input type="checkbox" th:value="${tag.id}" th:field="*{tags}"/>-->
                <!--                    <label th:text="${tag.value}"></label>-->
                <!--                </div>-->

                <template data-row-template>
                    <tr class="table-row" data-row onclick="removeSelf(this)">
                        <td data-row-id></td>
                        <td data-row-value></td>
                        <td data-row-input style="display:none">
                            <input input-row />
                        </td>
                    </tr>
                </template>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody table-body-container>
                        <tr th:each="tag, iter : *{tags}" onclick="removeSelf(this)">
                            <td data-row-id th:text="${tag.id}"></td>
                            <td data-row-value th:text="${tag.value}"></td>
                            <td style="display:none">
                                <input th:field="*{tags[__${iter.index}__]}" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button type="submit" class="btn btn-primary">Save</button>
            </fieldset>
        </form>
    </div>

</div>

</html>